<h1>Editing Admins Personal Health</h1>

<%= render 'form', admins_personal_health: @admins_personal_health %>

<%= link_to 'Show', @admins_personal_health %> |
<%= link_to 'Back', admins_personal_healths_path %>
