<div class="mx-auto" style="width: 720px;">
    <h1>健康管理ツール TOP</h1>

    <%= link_to 'ログイン' ,users_healths_path, class: 'btn btn-outline-dark' %>
    <br>
    <%= image_tag 'top.jpg', size: "700x500", alt: "TOP画像" %>
    <br>
    <%= link_to '管理者ログイン' ,admins_healths_path %>
</div>