<div class="d-flex align-items-center">
  <h1>行動履歴編集</h1>
  <div class="ml-auto">
    <%= link_to '一覧へ戻る', :back, class: 'btn btn-outline-dark' %>
  </div>
</div>

<p>氏名：<%= current_user.email %></p>

<%= render partial: 'form_edit', locals: {sers_actlog: @users_actlog} %>