<div class="d-flex align-items-center">
  <h1>健康状態登録</h1>
  <div class="ml-auto">
    <%= link_to '一覧へ戻る', users_healths_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<p>氏名：<%= current_user.email %></p>

<%= render partial: 'form', locals: {users_health: @users_health} %>
